<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>testArea03_AOS</title>
    <!-- <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> -->
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container">
      <h1>我是AOS測試區</h1>
      <div class="row gy-3">
        <div class="col-lg-4 col-md-3">
          <div class="card">
            <img
              src="../assets/images/cat.jpg"
              class="card-img-top"
              alt="cat"
            />
            <div class="card-body">
              <h5 class="card-title">卡片元件</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
                odit, iusto odio assumenda alias id nobis earum!
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-3">
          <div class="card">
            <img
              src="../assets/images/cat.jpg"
              class="card-img-top"
              alt="cat"
            />
            <div class="card-body">
              <h5 class="card-title">卡片元件</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
                odit, iusto odio assumenda alias id nobis earum!
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-3">
          <div class="card">
            <img
              src="../assets/images/cat.jpg"
              class="card-img-top"
              alt="cat"
            />
            <div class="card-body">
              <h5 class="card-title">卡片元件</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
                odit, iusto odio assumenda alias id nobis earum!
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-3">
          <div class="card">
            <img
              src="../assets/images/cat.jpg"
              class="card-img-top"
              alt="cat"
            />
            <div class="card-body">
              <h5 class="card-title">卡片元件</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
                odit, iusto odio assumenda alias id nobis earum!
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-3">
          <div class="card" data-aos="zoom-in">
            <img
              src="../assets/images/cat.jpg"
              class="card-img-top"
              alt="cat"
            />
            <div class="card-body">
              <h5 class="card-title">卡片元件</h5>
              <p class="card-text" data-aos="text-mask-animation">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque,
                odit, iusto odio assumenda alias id nobis earum!
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
